## Diferentes formas de crear listas

In [1]:
my_list = [3] * 5
print(my_list)

[3, 3, 3, 3, 3]

In [2]:
my_list = [1,2,3,4,5] 
print(my_list)

[1, 2, 3, 4, 5]

In [3]:
my_list = []
for number in range(10):
    my_list.append(number)

print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
my_list = []
for number in range(10):
    my_list+=[number] #my_list = my_list + number
              #se debe sumar una lista más una lista
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
my_list = [number for number in range(15)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### Imprimir sublistas

In [4]:
my_list = [number for number in range(15)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
my_sublist = my_list[:4]
print(my_sublist)

[0, 1, 2, 3]

In [7]:
my_sublist = my_list[3:7]
print(my_sublist)

[3, 4, 5, 6]

In [9]:
my_list = [number for number in range(5,20)]
print(my_list)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
my_sublist = my_list[10:]
print(my_sublist)

[15, 16, 17, 18, 19]

In [11]:
#accediendo a un índice en específico de la lista
print(my_list[10])

15

In [13]:
#accediendo a un índice en específico de la sublista
print(my_sublist[2])

17

### Creación de listas, usando range y Numpy

In [14]:
#range (inicio,fin,incremento)
my_list = [range(1,5,1)]
print(my_list)

#Imprime una lista de rangos

[range(1, 5)]

In [15]:
#para que se imprima dato por dato es necesario agregar un asterísco
my_list = [*range(1,5,1)] #antes de range
print(my_list)

[1, 2, 3, 4]

In [16]:
my_list = [*range(1,20,4)]
print(my_list)

[1, 5, 9, 13, 17]

#### -- Numpy

In [17]:
import numpy as np
my_list = np.arange(1,20,4).tolist()
print(my_list)

#mismo resultado que el ejemplo anterior

[1, 5, 9, 13, 17]

### Listas anidadas

In [19]:
my_list = [1,2,3,4,5]
print(my_list)

#índice 4
print(my_list[4])

[1, 2, 3, 4, 5]
5

In [20]:
my_list = [[1,2,3,4,5],[6,7,8,9,10]]
print(my_list) #lista completa
print(my_list[1]) #índice 1
print(my_list[1][2]) #índice 2, del índice 1

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
[6, 7, 8, 9, 10]
8

### Ordenando listas

In [22]:
my_list = [5,3,1,15,2,20]
print(my_list)

my_list.sort() #por default, ordena de menor a mayor
print(my_list) #no se necesita reasignar la variable

[5, 3, 1, 15, 2, 20]
[1, 2, 3, 5, 15, 20]

In [23]:
my_list = [5,3,1,15,2,20]
print(my_list)

my_list.sort(reverse = True) #para ordenar la lista en orden descendente
print(my_list)

[5, 3, 1, 15, 2, 20]
[20, 15, 5, 3, 2, 1]

In [24]:
#Con letras 
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)
my_list.sort() #ordena alfabeticamente
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['abeja', 'ballena', 'caballo', 'jirafa']

In [25]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)
my_list.sort(reverse = True)
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['jirafa', 'caballo', 'ballena', 'abeja']

### Conversión de listas

#### De cadenas a listas

In [26]:
#separar palabras
my_string = "Curso de Backend Python"
my_list = my_string.split() #usa los espacios como separador
print(my_string)
print(my_list)

Curso de Backend Python
['Curso', 'de', 'Backend', 'Python']

In [27]:
#separar caracteres
my_string = "Curso de Backend Python"
my_list = list(my_string) #no se utiliza split()
print(my_string)
print(my_list)

Curso de Backend Python
['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [28]:
#separar caracteres en una lista de listas
my_string = "Curso de Backend Python"
my_list = list(map(list,my_string))
print(my_string)
print(my_list)

Curso de Backend Python
[['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]

### Listas a cadenas

In [29]:
#usando espacios entre palabras
my_list = ['Curso', 'de', 'Backend', 'Python']
my_string = " ".join(my_list) #el espacio es la 'unión'
print(my_list)
print(my_string)

['Curso', 'de', 'Backend', 'Python']
Curso de Backend Python

In [30]:
my_list = ['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']
my_string = "".join(my_list) #sin espacios, la lista ya cuenta con espacios
print(my_list)
print(my_string)

['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'P', 'y', 't', 'h', 'o', 'n']
Curso de Backend Python

In [31]:
my_list = [['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]
my_string = "".join(["".join(element) for element in my_list])
print(my_list)               #cada elemento de mi lista hazle join
print(my_string)           #posteriormente hace join de cada lista interna

[['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]
Curso de Backend Python

### Creación de listas con valores de entrada

In [32]:
my_string = input("Ingresa los valores separados por espacio:")
my_list = my_string.split()
print(my_string)
print(my_list)

Ingresa los valores separados por espacio:7 4 2 1 6 7 4 2 1
7 4 2 1 6 7 4 2 1
['7', '4', '2', '1', '6', '7', '4', '2', '1']

In [42]:
my_list = map(int, my_string.split())
print(my_list)

<map object at 0x000001783FF41960>

## Métodos para la manipulación de listas

### append
Agrega un elemento final de una lista

In [34]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena']
4

In [35]:
my_list.append("delfin")
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena', 'delfin']
5

In [36]:
my_list.append("delfin")
print(my_list)
print(len(my_list))

['caballo', 'abeja', 'jirafa', 'ballena', 'delfin', 'delfin']
6

In [37]:
my_list = [300, 500, 100, 200]
print(my_list)
print(len(my_list))

my_list.append(333)
print(my_list)

[300, 500, 100, 200]
4
[300, 500, 100, 200, 333]

### insert

Agrega un valor a una lista en una posición especifica

Sintaxis: insert(índice, valor)

In [38]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)

my_list.insert(2, "gato")
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['caballo', 'abeja', 'gato', 'jirafa', 'ballena']

### clear

Elimina todos los elementos de la lista

In [39]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)

my_list.clear()
print(my_list) #queda una lista vacía

['caballo', 'abeja', 'jirafa', 'ballena']
[]

### copy
Copia los elementos de una lista

In [40]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)

my_list_copy = my_list.copy()
print(my_list_copy)

['caballo', 'abeja', 'jirafa', 'ballena']
['caballo', 'abeja', 'jirafa', 'ballena']

In [41]:
#copiar no es lo mismo que asignar, los cambios realizados en 
# una copia no afecta a la lista original.

my_list_copy.clear()
print(my_list)
print(my_list_copy)

['caballo', 'abeja', 'jirafa', 'ballena']
[]

### count
Cuenta cuantas veces aparece un elemento en una lista

In [43]:
my_list = [100, 300, 500, 100, 200, 100, 300]
print(my_list)

[100, 300, 500, 100, 200, 100, 300]

In [45]:
print("El número 100 aparece {} veces en la lista".format(my_list.count(100)))

El número 100 aparece 3 veces en la lista

### index
Obtiene el primer índice de una lista que hace match con el elemento solicitado

In [46]:
my_list = [100, 300, 500, 100, 200, 100, 300]
print(my_list)

[100, 300, 500, 100, 200, 100, 300]

In [49]:
print("El índice de la primera aparición del número 100 es {}".format(my_list.index(100)))

El índice de la primera aparición del número 100 es 0

In [48]:
print("El índice de la primera aparición del número 500 es {}".format(my_list.index(500)))

El índice de la primera aparición del número 500 es 2

### extend()
Combina 2 listas

In [50]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)

my_list_2 = ["delfin","gato"]
print(my_list_2)

my_list.extend(my_list_2)
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['delfin', 'gato']
['caballo', 'abeja', 'jirafa', 'ballena', 'delfin', 'gato']

### pop
Elimina elementos de una lista basandose en los índices

In [51]:
my_list = [100,300,500,100,200,100,300]
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100, 300]
7

In [52]:
#elimina índice -1 por default
my_list.pop()
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100]
6

In [53]:
my_list.pop(2) #en este caso se le pasa el índice 2
print(my_list)
print(len(my_list))

[100, 300, 100, 200, 100]
5

### remove
Elimina la primera aparición de un valor de una lista

In [55]:
my_list = [100,300,500,100,200,100,300]
print(my_list)
print(len(my_list))

my_list.remove(100)
print(my_list)
print(len(my_list))

[100, 300, 500, 100, 200, 100, 300]
7
[300, 500, 100, 200, 100, 300]
6

In [ ]:
#error - el valor debe estar en la lista
my_list.remove(600) #600 no está en la lista
print(my_list)

### reverse
Invierte el orden de una lista

In [56]:
my_list = ["caballo","abeja","jirafa","ballena"]
print(my_list)

my_list.reverse()
print(my_list)

['caballo', 'abeja', 'jirafa', 'ballena']
['ballena', 'jirafa', 'abeja', 'caballo']

### Obtener un elemento aleatorio de una lista

In [57]:
my_list = [100,300,500,100,200,100,300]
print(my_list)

[100, 300, 500, 100, 200, 100, 300]

In [59]:
import random

print(random.choice(my_list))
print(random.choice(my_list))
print(random.choice(my_list))

300
300
100