## Operadores y tipos de opertadores

¿Qué son los operadores?
- Conjunto de símbolos presentes en un lenguajes de programación
- Pueden decirle al intérprete que ejecute ciertas acciones para producir un resultado final
- Pueden usarse para aplicar operaciones en variables y operaciones
- Pueden clasificarse según su tipo, aritméticos, relacionales, de asignación, lógicos, de afiliación e identidad.

### Operadores aritméticos

- suma +
- resta -
- multiplicación *
- división /
- división con redondeo hacia abajo //
- exponente **

In [1]:
# Suma

num_1 = 500
num_2 = 300
print("El resultado de num_1+num_2 es: ",num_1+num_2)

El resultado de num_1+num_2 es:  800

In [2]:
# Resta 
num_1 = 500
num_2 = 300
print("El resultado de num_1-num_2 es: ",num_1-num_2)

El resultado de num_1-num_2 es:  200

In [3]:
# Multiplicación
num_1 = 500
num_2 = 300
print("El resultado de num_1*num_2 es: ",num_1*num_2)

El resultado de num_1*num_2 es:  150000

In [4]:
# División
num_1 = 500
num_2 = 300
print("El resultado de num_1/num_2 es: ",num_1/num_2)

El resultado de num_1/num_2 es:  1.6666666666666667

In [1]:
# División con redondeo hacia abajo
num_1 = 500
num_2 = 300
print("El resultado de num_1//num_2 es: ",num_1//num_2)

El resultado de num_1//num_2 es:  1

In [2]:
# Exponente
num_1 = 2
num_2 = 5
print("El resultado de num_1**num_2 es: ",num_1**num_2)

El resultado de num_1**num_2 es:  32

### Operadores relacionales

 ¿Qué son los operadores relacionales?
 - También conocidos como operadores de comparación
 - Regresan un valor booleano (Verdadero o Falso)
 - En Python, son para comparar o relacionar los valores
 - True, es el resultado cuando la condición se cumple
 - False, es el resultado cuando la condición NO se cumple
 - Se encatgarn de las operaciones de comparación

#### TIPOS DE OPERADORES RELACIONALES

- '==' igual a
- '!=' diferente a 
- '>' mayor que
- '<' menor que
- '<=' menor o igual que

In [3]:
# Igual a...

num_1 = 570 #<<<< asignación
num_2 = 420 
print("¿El valor de num_1 es igual al valor de num_2?\n",num_1==num_2)

¿El valor de num_1 es igual al valor de num_2?
 False

In [5]:
#También es posible con cadenas

str_1 = "Backend Python" #asignación
str_2 = "Backend Python"
print("¿El valor de str_1 es igual al valor de str_2?\n",str_1==str_2)

#El vLalor es verdadero siempre y cuando no se cambie alguna letra a mayúscula

¿El valor de str_1 es igual al valor de str_2?
 True

In [6]:
str_1 = "Backend Python" #asignación
str_2 = "Backend Python"
print("¿El valor de str_1 es diferente al valor de str_2?\n",str_1!=str_2)

¿El valor de str_1 es diferente al valor de str_2?
 False

In [7]:
num_1 = 570 
num_2 = 420 
print("¿El valor de num_1 es menor al valor de num_2?\n",num_1<num_2)

¿El valor de num_1 es menor al valor de num_2?
 False

In [9]:
num_1 = 570 
num_2 = 420 
print("¿El valor de num_1 es igual o menor al valor de num_2?\n",num_1>=num_2)

¿El valor de num_1 es igual o menor al valor de num_2?
 True

### Operadores de asignación

¿Qué son los operadores de asignación?
- En Python son usados para asignar valores a variables
- Incluyen el operador de asignación que es el signo de igual

Tipos de operadores de asignación:
- "=" operador de asignación
- "+=" sumar y asignar
- "-=" restar y asignar
- "*=" multiplicar y asignar
- "/=" dividir y asignar
- "//=" dividir con redondeo hacia abajo y asignar
- "%=" módulo y asignar
- "**=" exponente y asignar

In [10]:
#Suma en asignación
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 += num_2 # num_1 = num_1 + num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  23

In [11]:
#Resta en asignación
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 -= num_2 # num_1 = num_1 - num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  17

In [12]:
#Multiplicación en asignación
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 *= num_2 # num_1 = num_1 * num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  60

In [13]:
#División en asignación
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 /= num_2 # num_1 = num_1 / num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  6.666666666666667

In [14]:
#Division con redondeo en asignación
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 //= num_2 # num_1 = num_1 // num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  6

In [15]:
#Módulo en asignación, el resultado es el residuo de una división
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 %= num_2 # num_1 = num_1 % num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  2

In [16]:
#Exponente en asignación
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 **= num_2 # num_1 = num_1 ** num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  8000

### Operadores lógicos

¿Qué son los operadores lógicos?
- Son usados para declaraciones condicionales
- Son indicadores estructurales
- Se les conoce como conectores lógicos
- Hay 3 tipos de operadores lógicos
  1. AND (y) regresa True si ambas operaciones son verdaderas
  2. OR (o) regresa True si por lo menos una de las operaciones es verdadera
  3. NOT (lo opuesto) regresa True si la operación es False

In [17]:
# AND -- Todas las condiciones deben ser verdaderas

num_1 = 11
num_2 = 55

print("num_1<=num_2 and num_1!=num_2: ",num_1<=num_2 and num_1!=num_2)

num_1<=num_2 and num_1!=num_2:  True

In [18]:
num_1 = 11
num_2 = 11

print("num_1<=num_2 and num_1!=num_2: ",num_1<=num_2 and num_1!=num_2)

num_1<=num_2 and num_1!=num_2:  False

In [19]:
# OR -- Solo una condicion debe cumplirse para ser verdadera

num_1 = 11
num_2 = 55

print("num_1<=num_2 or num_1!=num_2: ",num_1<=num_2 or num_1!=num_2)

num_1<=num_2 or num_1!=num_2:  True

In [20]:
num_1 = 11
num_2 = 11

print("num_1<=num_2 or num_1!=num_2: ",num_1<=num_2 or num_1!=num_2)

num_1<=num_2 or num_1!=num_2:  True

In [22]:
# NOT (lo opuesto) -- la condición debe ser falsa

num_1 = 11
num_2 = 55
#
print("num_1<=num_2: ",not num_1<=num_2)

num_1<=num_2:  False

### Operadores de afilicación

¿Qué son los operadores de afiliación?
- Son usados para validar lo elementos en listas, cadenas y tuplas
- Validan si una variable está presente en una secuencia
- Regresan un valor booleano, True si el valor está presente en la secuencia y False si el valor no está presente.
- Existen dos tipos de operadores de afiliación:
  1. IN - el valor está en la secuencia
  2. NOT IN - el valor no está presente en la secuencia

In [23]:
# IN 

my_string = "Backend Python"
print("'a' is in my_string? ",'a' in my_string)

'a' is in my_string?  True

In [24]:
my_string = "Backend Python"
print("'i' is in my_string? ",'i' in my_string)

'i' is in my_string?  False

In [25]:
# Ejemplos con listas
my_list = [1, 154, 321, 22, 11]
print("5 is in my_list? ",5 in my_list)

5 is in my_list?  False

In [26]:
my_list = [1, 154, 321, 22, 11]
print("22 is in my_list? ",22 in my_list)

22 is in my_list?  True

In [31]:
#Ejemplo con sets
my_set = {1, 154, 321, 22, 11, 5, 11, 22, 5, 1}
print("22 is in my_set? ",22 in my_set)

22 is in my_set?  True

In [29]:
# NOT IN
my_string = "Backend Python"
print("'a' is in my_string? ",'a' not in my_string)

'a' is in my_string?  False

In [30]:
my_list = [1, 154, 321, 22, 11]
print("22 is in my_list? ",22 not in my_list)

22 is in my_list?  False

### Operadores de identidad

¿Qué son los operadores de identidad?
- Son usados para comparar la ubicación en memoria de dos objetos, y validar si  comparten el mismo espacio de memoria
- Regresan True si lo comparten y False si no lo comparten
- Hay dos operadores:
  1. IS
  2. IS NOT

In [32]:
# Ejemplos con IS
num_1 = 11
num_2 = 55
print("num_1 is num_2? ",num_1 is num_2)

num_1 is num_2?  False

In [33]:
num_1 = 88
num_2 = 88
print("num_1 is num_2? ",num_1 is num_2)

num_1 is num_2?  True

In [34]:
# Ejemplos con IS NOT
num_1 = 11
num_2 = 55
print("num_1 is not num_2? ",num_1 is not num_2)

num_1 is not num_2?  True

In [35]:
num_1 = 88
num_2 = 88
print("num_1 is not num_2? ",num_1 is not num_2)

num_1 is not num_2?  False

### Conversión de tipos

¿Qué es la conversión de tipos?
- Es el proceso de conversión de un tipo de dato a otro tipo de dato
- Es un paso muy importante para combinar multiples fuentes de datos en un formato específico
- Hay dos tipos_
  1. Conversión implícita, hecha de forma automática por el interprtete de Python.
  2. Conversión explicíta

In [36]:
# Conversión implícita
14 + 2.0 

#Pasa de manera automática, basta con que haya un float en la operación

16.0

In [37]:
# Conversión explícita
int(199.99)

199

In [38]:
float(58)

58.0

In [39]:
complex(4)

(4+0j)

### Conversión int

In [40]:
int(10.78) #float a int

10

In [42]:
int(False) #bool a int

0

In [ ]:
#error -- complex a int
int(5+3j)

In [43]:
int('120') #string a int

120

In [ ]:
# error -- string a int, no lo reconoce como entero sino como float
int("120.5")

### Conversión float

In [44]:
float(23) #int a float

23.0

In [ ]:
# error -- complex a float
float(23+3j)

In [45]:
#bool a float
float(True)

1.0

In [46]:
#string a float
float("843.29")

843.29

In [47]:
#string a float -- entero
float("843")

843.0

In [ ]:
#error -- string(con 1 letra) a float
float("843t")

In [ ]:
#error -- string a float, es un valor booleano en realidad
float("True")

### Conversión complex

In [48]:
#int a complex
complex(42)

(42+0j)

In [49]:
#float a complex
complex(92.8)

(92.8+0j)

In [50]:
#booleano a complex
complex(True)

(1+0j)

In [51]:
#string a complex
complex("24.67")

(24.67+0j)

In [52]:
#error -- string a complex
complex("backend")

ValueError: complex() arg is a malformed string

In [ ]:
#error -- string a complex
complex("10c")

In [53]:
#string complex -- con la letra j
complex("10j")

10j

### Conversiones bool

In [54]:
#int a bool
bool(0)

False

In [55]:
#int a bool
bool(7)

True

In [56]:
#float a bool
bool(1.8)

True

In [57]:
#float a bool
bool(-1.8)

True

In [58]:
#float a bool
bool(0.0)

False

In [59]:
#complex a bool
bool(0+3j)

True

In [61]:
#complex a bool 
bool(0+0j)

False

In [62]:
#complex a bool
bool(2+0j)

True

In [63]:
#string a bool -- valida si una cadena no está vacía
bool("python")

True

In [64]:
#string a bool -- basta con que haya un espacio para que sea True
bool(" ")

True

In [65]:
#string a bool -- ejemplo con una cadena vacía
bool("")

False

In [66]:
#string a bool 
bool("0")

True

### Conversiones str

In [67]:
#int a str
str(25)

'25'

In [68]:
#float a str
float(16.9)

16.9

In [69]:
#complex a str
str(6+8j)

'(6+8j)'

In [70]:
#bool a str
str(True)

'True'

### Funciones básicas 

trunc()

In [1]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001

In [2]:
from math import trunc
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001

print(trunc(num_1))
print(trunc(num_2))
print(trunc(num_3))
print(trunc(num_4))

64
64
64
64

### round(), ceil() y florr()

In [6]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001

print("Usando round: ",round(num_1)) #A partir de .51 redondea hacia arriba
print("Usando round: ",round(num_2))

#ceil redondeo hacia arriba -- siempre
from math import ceil
print("\nUsando ceil: ",ceil(num_3))

#floor redondeo hacia abajo -- siempre
from math import floor
print("\nUsando floor: ",floor(num_4))

Usando round:  65
Usando round:  64

Usando ceil:  65

Usando floor:  64

## FUNCIONES PARA FORMATO

### Función %

In [7]:
num_1 = 64.99
num_2 = 64.516
num_3 = 64.5132
num_4 = 64.000001

print("Con 1 decimal: ", '%.1f' % num_1)
print("Con 2 decimal: ", '%.2f' % num_2)
print("Con 3 decimal: ", '%.3f' % num_3)
print("Con 4 decimal: ", '%.4f' % num_4)

Con 1 decimal:  65.0
Con 2 decimal:  64.52
Con 3 decimal:  64.513
Con 4 decimal:  64.0000

###  format()

In [9]:
num_1 = 64.99
num_2 = 64.516
num_3 = 64.5132
num_4 = 64.000001

print("Con 1 decimal: ", '{:.1f}'.format(num_1))
print("Con 2 decimal: ", '{:.2f}'.format(num_2))
print("Con 3 decimal: ", '{:.3f}'.format(num_3))
print("Con 4 decimal: ", '{:.4f}'.format(num_4))

Con 1 decimal:  65.0
Con 2 decimal:  64.52
Con 3 decimal:  64.513
Con 4 decimal:  64.0000