## Creación y modificación de sets

In [1]:
my_set = set()
my_set.add("python")

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
1
{'python'}

In [3]:
my_set = set()
my_set.add("python")
my_set.update((23,"backend",3.1416)) #varios tipos de datos

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{'backend', 'python', 3.1416, 23}

In [5]:
my_set = {"p",23}
print(my_set)
print(type(my_set))

{'p', 23}
<class 'set'>

In [7]:
my_set = {"python",23, 3.1416}
my_set.add("python")

print(len(my_set))
print(my_set) #imprime el set sin duplicar valores

3
{'python', 3.1416, 23}

## Métodos para la manipulación de sets
### add
Agrega un elemento a un set

In [8]:
my_set = {1, 5, 11, 23}
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{1, 11, 5, 23}

In [13]:
my_set.add(1)
my_set.add(2)
my_set.add(15)
my_set.add(11)
print(my_set)
print(len(my_set))

{1, 2, 5, 11, 15, 23}
6

### clear()
Remueve todos los elementos del set

In [14]:
my_set = {1, 5, 11, 23}
print(type(my_set))
print(len(my_set))
print(my_set)

my_set.clear()
print(type(my_set))
print(len(my_set))
print(my_set) #los sets no mantienen el orden de los datos

<class 'set'>
4
{1, 11, 5, 23}
<class 'set'>
0
set()

### copy
Copia los elementos en un nuevo set

In [2]:
my_set = {1,5,11,23}
my_set_2 = my_set.copy()

print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(type(my_set_2))
print(len(my_set_2))
print(my_set_2)

<class 'set'>
4
{1, 11, 5, 23}

<class 'set'>
4
{1, 11, 5, 23}

### difference()
Obtiene los valores presentes en el primer set y faltantes en el segundo set

In [3]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 6, 7, 8}

#valores que están en set_b faltantes en set_a
print(set_b.difference(set_a))

#valores que están en set_a faltantes en set_b
print(set_a.difference(set_b))

{8, 2, 4, 6}
{9, 3, 5}

### difference_update
Conserva solo los valores diferentes entre el set solicitado y el que es enviado como parámetro

In [5]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 6, 7, 8}

#desaparecen los valores anteriores y asignan los valores faltantes
set_b.difference_update(set_a)
print(set_b)

#ya no se realiza ningún cambio porque set_b ya tiene los valores que eran diferentes
set_a.difference_update(set_b)
print(set_a)

{2, 4, 6, 8}
{1, 3, 5, 7, 9}

In [6]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 6, 7, 8}

#desaparecen los valores anteriores y asignan los valores faltantes
set_a.difference_update(set_b)
print(set_a)

#ya no se realiza ningún cambio porque set_a ya tiene los valores que eran diferentes
set_b.difference_update(set_a)
print(set_b)

{3, 5, 9}
{1, 2, 4, 6, 7, 8}

### discard
Elimina un elemento del set si está presente

In [9]:
my_set = {"Python","Javascript","Go","Scals"}
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.discard("Go")
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

#no importa que el valor no esté presente
my_set.discard("test")
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

<class 'set'>
4
{'Scals', 'Javascript', 'Go', 'Python'}

<class 'set'>
3
{'Scals', 'Javascript', 'Python'}

<class 'set'>
3
{'Scals', 'Javascript', 'Python'}

### intersection
Obtiene los valores en común de 2 sets

In [11]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(set_a.intersection(set_b))
print(set_b.intersection(set_a))

{1, 7}
{1, 7}

### intersection_update()
Obtiene los valores en común de 2 sets y los aisgna al set que manda llamar al método

In [14]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

set_a.intersection_update(set_b)
print(type(set_a))
print(len(set_a))
print(set_a,"\n")

print(type(set_b))
print(len(set_b))
print(set_b)

<class 'set'>
2
{1, 7}

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

### isdisjoint
Regresa True si no hay valores compartidos por ambos sets y regresa False si hay por lo menos un valor compartido por ambos sets

In [15]:
set_a = {1,3,5,7,9}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b))

False

In [16]:
set_a = {5,3,0}
set_b = {1,2,4,6,7,8}

print(set_a.isdisjoint(set_b))

True

### issubset
True: si todos los valores del set llamado están en el set pasado como parámetros

In [18]:
set_a = {1,8}
set_b = {1,2,4,6,7,8}
#es acaso set_a un subset de sub_b
print(set_a.issubset(set_b))

True

In [19]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}
#valida que los elementos de un set estén contenidos en otro set
print(set_a.issubset(set_b))

False

### issuperset
Opuesto a issubset
Analiza si todos los valores del set pasado están como parámetros del set llamado

In [21]:
set_a = {1,8}
set_b = {1,2,4,6,7,8}

print(set_b.issuperset(set_a))

True

In [22]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

print(set_b.issuperset(set_a))

False

### pop
Elimina el primer elemento del set

In [23]:
my_set = {1,2,4,6,7,8}
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

print(my_set.pop())
print(my_set.pop())
print(my_set.pop(),"\n")

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

1
2
4

<class 'set'>
3
{6, 7, 8}

### remove
Elimina el elemento pasado como parámetro, debe estar presente en el set o Python marcará un error

In [24]:
my_set = {1,2,4,6,7,8}
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

my_set.remove(4)
print(type(my_set))
print(len(my_set))
print(my_set,"\n")

<class 'set'>
6
{1, 2, 4, 6, 7, 8}

<class 'set'>
5
{1, 2, 6, 7, 8}

### union()
Combina 2 sets

In [25]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

set_c = set_a.union(set_b)
print(set_c)

{1, 2, 3, 4, 6, 7, 8}

### update
Añade los valores del set pasado como parámetro al set llamado

In [27]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

set_a.update(set_b)
print(set_a) #no se declara una nueva variable
print(set_b) #qeuda intacto

{1, 2, 3, 4, 6, 7, 8}
{1, 2, 4, 6, 7, 8}

### symmetric_difference()
Obtiene las diferencias en ambos sets

In [31]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

print(set_a.symmetric_difference(set_b))
print(set_b.symmetric_difference(set_a))

{2, 3, 4, 6, 7}
{2, 3, 4, 6, 7}

### symmetric_difference_update()
Obtiene las diferencias de ambos sets y los valores se asignan al set que hace el llamado

In [33]:
set_a = {1,3,8}
set_b = {1,2,4,6,7,8}

set_a.symmetric_difference_update(set_b)
print(set_a)
print(set_b)

{2, 3, 4, 6, 7}
{1, 2, 4, 6, 7, 8}

## Conversión de Sets

### Cadena a Set

In [36]:
my_string = "Backend Python"
my_set =set(my_string)

print(type(my_string))
print(my_string, "\n")

print(type(my_set))
print(my_set)

<class 'str'>
Backend Python

<class 'set'>
{'e', 'h', 'a', 'n', 'c', 't', 'd', 'P', 'B', 'y', ' ', 'k', 'o'}

### Lista a Set

In [37]:
my_list = [1,1,1,2,2,2,3,3,4,4,4,4,5]
my_set = set(my_list)

print(type(my_list))
print(my_list,"\n")
print(type(my_set))
print(my_set)

<class 'list'>
[1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 4, 5]

<class 'set'>
{1, 2, 3, 4, 5}

### Tupla a Set

In [38]:
my_tuple = (1,1,1,2,2,2,3,3,4,4,4,4,5)
my_set = set(my_tuple)

print(type(my_tuple))
print(my_tuple,"\n")

print(type(my_set))
print(my_set)

<class 'tuple'>
(1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 4, 5)

<class 'set'>
{1, 2, 3, 4, 5}

### Set a Cadena

In [40]:
my_set = {'e', 'h', 'a', 'n', 'c', 't', 'd', 'P', 'B', 'y', ' ', 'k', 'o'}
my_string = "".join(my_set)

print(type(my_set))
print(my_set, "\n")
print(type(my_string))
print(my_string)

<class 'set'>
{'e', 'h', 'a', 'n', 'c', 't', 'd', 'P', 'B', 'y', ' ', 'k', 'o'}

<class 'str'>
ehanctdPBy ko

### Set a Lista

In [41]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print(type(my_set))
print(my_set,"\n")
print(type(my_list))
print(my_list)

<class 'set'>
{1, 2, 3, 4, 5}

<class 'list'>
[1, 2, 3, 4, 5]

### Set a Tupla

In [42]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)

print(type(my_set))
print(my_set,"\n")
print(type(my_tuple))
print(my_tuple)

<class 'set'>
{1, 2, 3, 4, 5}

<class 'tuple'>
(1, 2, 3, 4, 5)